.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  @media screen and(min-width: 768px) {
    min-width: 768px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -30px;
  }
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    width: 226px;
    margin-left: 30px;

    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  @media screen and(min-width:768px ) {
    width: 226px;
  }
  @media screen and(min-width:1200px ) {
    width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
