.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: #f5f4fa;
  min-width: 480px;

  @media screen and(min-width: 768px) {
    min-width: 768px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: center;
  }
}

.team__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;

    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 0px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

.team__text {
  margin-bottom: 16px;
  color: $title-text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__card {
  padding-top: 30px;
  padding-bottom: 24px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-thumb {
  display: block;
}
